<!--****PRACTICES SECTION**--->
<div class="container">
  <div class="row paddingBottom50">
    <div class="col-lg-12">
        <h1 class="mainDate name_player"><strong>{{TeamName}}</strong></h1>
      <!--****PRACTICES SECTION**--->
<div class="mainPanel marginTop30">
  <h4 class="blueBGHead">TEAM LEADERSHIP</h4>
  <div class="table-responsive borderNone">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <thead>
        <tr>
          <th>POSITION</th>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>MOBILE</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="showteamleadership; else elseBlock">
        <tr  *ngFor="let tl of TeamLeaders">
          <td>{{tl.VolunteerPosition}}</td>
          <td>{{tl.VolunteerName}}</td>
          <td class="coachemail"><u>{{tl.Email}}</u></td>
          <td>{{tl.Mobile}}</td>
        </tr> 
        </ng-container>
        <ng-template #elseBlock>
            <tr>
              <td colspan="4">No data found</td>             
            </tr> 
            </ng-template>     
      </tbody>
    </table>
  </div>
  
</div>

<!---******Player HEALTH SECTION****-->
<div class="mainPanel marginTop30" [hidden]="!showHealthCondition">
    <h4 class="blueBGHead_health">PLAYER HEALTH CONDITIONS</h4>
    <div class="table-responsive borderNone">
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <thead>
        <tr>
          <th>PLAYER NAME</th>
          <th>HEALTH CONDITION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hc of HealthConditions">
          <td>{{hc.PlayerName}}</td>
          <td>{{hc.HealthCondition}}</td>
        </tr>
      </tbody>
    </table>
    </div>
    
  </div>

  <!---***TEAM ROASTER SECTION**********-->
  <div class="mainPanel marginTop30">
      <h4 class="blueBGHead">TEAM ROSTER</h4>
      <div class="marginTop10 blastCentre">
          <button type="button" [disabled]="sendBlastDisable" class="btn blastbtn btn-sm marginTop10 marginBottom10" (click)="sendEmail('blast_email')" ><img class="mailIcon" [src]="Emailsrc" alt="mail" /> SEND BLAST EMAIL</button> 
          <button type="button" [disabled]="sendBlastDisable" class="btn blastbtn marginLeft  btn-sm marginTop10 marginBottom10"(click)="sendEmail('blast_text')"> <img class="smsIcon" [src]="Smssrc" alt="sms" /> SEND BLAST TEXT</button>
    </div>
    <div class="table-responsive borderNone marginTop10">
      <table id ="player_other" class="paddNoneTable" cellspacing="0" cellpadding="0" border="0" width="100%">
        <thead>
          <tr>
            <th>#</th>
            <th>PLAYER NAME</th>
            <th>PARENT NAME</th>
            <th>PARENT EMAIL</th>
            <th>PARENT MOBILE</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="showTeamRoaster; else elseBlockteamRoaster">
                <tr *ngFor="let teamr of TeamRoster">
                    <td>{{teamr.JerseyNumber}}</td>
                    <td>{{teamr.PlayerName}}</td>
                    <td>
                      <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr *ngFor="let pr of teamr.Parents">
                          <td>{{pr.ParentName}}</td>
                        </tr>
                      </table>
                    </td>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tr *ngFor="let pr of teamr.Parents">
                              <td class="coachemail"><u>{{pr.ParentEmail}}</u></td>
                          </tr>
                        </table>
                    </td>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tr *ngFor="let pr of teamr.Parents">
                            <td>{{pr.ParentMobilePhone}}</td>
                          </tr>
                        </table>
                    </td>
                  </tr>   
            </ng-container>
            <ng-template #elseBlockteamRoaster>
                <tr>
                  <td colspan="5">No data found</td>             
                </tr> 
            </ng-template>             
        </tbody>
      </table>
      </div>
    </div>
    </div>
  </div>
</div>

<app-fybaloader *ngIf="dataRequest"></app-fybaloader>