<div *ngIf="profileData!= null" class="container paddingBottom50">
    <form [formGroup]="personalDetailsForm">
    
  <div class="row">
    <div class="col-lg-12 OffcProfile fontSize12">
      <h1 class="mainDate name_player"><strong>{{profileData.Value.CoachName}}</strong></h1>

      <ngb-accordion *ngIf="personalDetailsForm">

        <!--------------------------->
        <!-------Personal Info------->
        <!--------------------------->

        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class="HeadCollapse">
              <h2 class="paidHead">Personal Info</h2>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            
              <div class="data_module bgBlue">
                <div class="fms_time marginleftNone wordBreak">
                  <div class="row-fluid signupPosition borderTopNone">
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                      <strong>Coach Name:</strong>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                      {{CoachProfile.CoachName}}
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="row-fluid signupPosition ">
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                      <strong>Date Fingerprinted:</strong>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                      {{CoachProfile.DateFingerPrinted}}
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="row-fluid signupPosition ">
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                      <strong>Email:</strong>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                      <input type="text" formControlName="email">
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="row-fluid signupPosition">
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                      <strong>Shirt Size:</strong>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                      <select formControlName="shirtSize" class={{selectedclass}}  (change)="changeshirtSize($event.target.value)" >
                        <option *ngFor="let item of profileData.Value.ShirtSizeValue" [value]="item.SizeId" 
                          [selected]="item.Selected==true" >
                          {{item.Size}}
                        </option>
                      </select>                      
                      <img  class="lock" [src]="currentSrc" alt="lock" />
                    </div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
            
           
          </ng-template>
        </ngb-panel>


        <!------------------------------------->
        <!---------Practice Preferences--------->
        <!--------------------------------------->

        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class="HeadCollapse">
              <h2 class="paidHead">Practice Preferences</h2>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div [formGroup]="preferenceForm" class="data_module bgBlue">
              <div class="fms_time marginleftNone wordBreak">

                <div formArrayName="locationPreference" class="row-fluid signupPosition borderTopNone">
                  <div class="  col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Location Preferences:</strong>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 paddLeft5">
                    <div *ngFor="let child of preferenceForm.controls.locationPreference['controls']; let i=index">
                      <input class="checkBoxClass {{locPrefclass}}" type="checkbox" [value]="child.get('LocationId').value"  
                      [checked]="child.get('Selected').value" [disabled]="disablelocPref"
                        (change)="preferenceChange($event,child.get('LocationId').value)">
                        <label> {{child.get('LocationName').value}}</label>
                    </div>                    
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-2">
                    <img  class="lock" [src]="locPrefSrc" alt="lock" />
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="row-fluid signupPosition borderTopNone">
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Location Rank</strong>
                  </div>
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-6 paddLeft5">
                    <select formControlName="locationRank" class="{{locclass}}" (change)="changelocationRank($event.target.value)">
                      <option *ngFor="let item of profileData.Value.LocationRankValues" [value]="item.RankId"
                        [selected]="item.Selected">{{item.RankName}}</option>
                    </select>
                  </div>
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-2">
                    <img  class="lock" [src]="locRankSrc" alt="lock" />
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div formArrayName="dayOfTheWeekPreference" class="row-fluid signupPosition borderTopNone">
                  <div class=" row-fluid col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Day of the Week Preference</strong>
                  </div>
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-6 paddLeft5">
                    <div *ngFor="let child of preferenceForm.controls.dayOfTheWeekPreference['controls']; let i=index">
                      <ng-container [formGroupName]="i">
                        <input class="checkBoxClass" type="checkbox" [value]="child.get('DayId').value" [disabled]="disableweekPref"
                          (change)="dayOfTheWeekPreferenceChange($event, child.get('DayId').value)"
                          [checked]="child.get('Selected').value" />
                        <label> {{child.get('DayName').value}}</label>
                      </ng-container>
                    </div>                    
                  </div>
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-2">
                    <img  class="lock" [src]="weekPrefSrc" alt="lock" />
                  </div>
                  <div class="clearfix"></div>
                </div>


                <div class="row-fluid signupPosition borderTopNone">
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Day of the Week Rank</strong>
                  </div>
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-6 paddLeft5">
                    <select formControlName="dayOfTheWeekRank" class={{Dayclass}}  (change)="changedayOfTheWeekRank($event)">
                      <option *ngFor="let item of profileData.Value.DayOfTheWeekRankValues" [value]="item.RankId"
                        [selected]="item.Selected">{{item.RankName}}</option>
                    </select>                   
                  </div>
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-2">
                    <img  class="lock" [src]="dayRankSrc" alt="lock" />
                  </div>
                  <div class="clearfix"></div>
                </div>


                <div formArrayName="timeOfTheDayPreference" class="row-fluid signupPosition borderTopNone">
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Time of the Day Preference</strong>
                  </div>
                  <div  class="row-fluid col-md-4 col-sm-4 col-xs-6 paddLeft5">
                    <div *ngFor="let child of preferenceForm.controls.timeOfTheDayPreference['controls']; let i=index">
                      <ng-container [formGroupName]="i">
                        <input class="checkBoxClass {{TimePrefclass}}" type="checkbox" [value]="child.get('TimeId').value" [disabled]="disableTimePref"
                          (change)="timeOfTheDayPreferenceChange($event, child.get('TimeId').value)"
                          [checked]="child.get('Selected').value" />
                        <label> {{child.get('TimeName').value}}</label>
                      </ng-container>
                    </div>
                  </div>
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-2">
                    <img  class="lock" [src]="timePrefSrc" alt="lock" />
                  </div>
                  <div class="clearfix"></div>
                </div>


                <div class="row-fluid signupPosition borderTopNone">
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Time of the Day Rank</strong>
                  </div>
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-6 paddLeft5">
                    <select formControlName="timeOfTheDayRank" class="{{TimeDayclass}}" (change)="changetimeOfTheDayRank($event)">
                      <option *ngFor="let time of profileData.Value.TimeOfDayRankValues" [value]="time.RankId"
                        [selected]="time.Selected==true">{{time.RankName}}</option>
                    </select>        
                  </div>
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-2">
                    <img  class="lock" [src]="timeDayRankSrc" alt="lock" />
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div  class="row-fluid signupPosition borderTopNone">
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Days you CANNOT have practice</strong>
                  </div>
                  <div formArrayName="daysYouCantHavePractice" class="row-fluid col-md-4 col-sm-4 col-xs-6 paddLeft5">
                    <div *ngFor="let child of preferenceForm.controls.daysYouCantHavePractice['controls']; let i=index">
                      <ng-container [formGroupName]="i">
                        <input class="checkBoxClass {{DayNotPracclass}}" type="checkbox" [value]="child.get('DayId').value"
                          (click)="daysYouCantHavePracticeChange($event, child.get('DayId').value)" [disabled]="(disableDayNotPrac==true)?true:(countpatchDaysYouCantHavePractice>=3)?(child.get('Selected').value==false)? true:false:false"
                          [checked]="child.get('Selected').value" />
                        <label> {{child.get('DayName').value}}</label>
                      </ng-container>
                    </div>
                  </div>
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-2">
                    <img  class="lock" [src]="DayNotPracSrc" alt="lock" />
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="row-fluid signupPosition borderTopNone">
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Time you CANNOT have practice</strong>
                  </div>
                  <div formArrayName="timeYouCantHavePractice" class="row-fluid col-md-4 col-sm-4 col-xs-6 paddLeft5">                  
                    <div *ngFor="let child of preferenceForm.controls.timeYouCantHavePractice['controls']; let i=index">
                      <ng-container [formGroupName]="i">
                        <input class="checkBoxClass {{TimeNotPracclass}}" type="checkbox" [value]="child.get('TimeId').value"
                          (change)="timeYouCantHavePracticeChange($event, child.get('TimeId').value)" [disabled]="(disableTimeNotPrac==true)?true:(child.get('Selected').value==false)? true:false"
                          [checked]="child.get('Selected').value" />
                        <label> {{child.get('TimeName').value}}</label>
                      </ng-container>
                    </div>
                  </div>
                  <div class="row-fluid col-md-4 col-sm-4 col-xs-2">
                    <img  class="lock" [src]="TimeNotPracSrc" alt="lock" />
                  </div>
                  <div class="clearfix"></div>
                </div>

              </div>
            </div>
          </ng-template>
        </ngb-panel>



        <!------------------------------------->
        <!-----Assigned Practice TimeSlot------->
        <!--------------------------------------->


        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class="HeadCollapse">
              <h2 class="paidHead">Assigned Practice TimeSlot</h2>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="data_module bgBlue">
              <div class="fms_time marginleftNone wordBreak">

                <div class="row-fluid signupPosition ">
                  <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Assigned Facility:</strong>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                    {{CoachProfile.AssignedFacility}}
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="row-fluid signupPosition ">
                  <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Assigned Time of the Day:</strong>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                    {{CoachProfile.AssignedTimeOfDay}}
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="row-fluid signupPosition ">
                  <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Assigned Day of the Week:</strong>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                    {{CoachProfile.AssignedDayOfWeek}}
                  </div>
                  <div class="clearfix"></div>
                </div>

                

                <div class="row-fluid signupPosition ">
                  <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Timeslot Name:</strong>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                    {{CoachProfile.TimeslotName}}
                  </div>
                  <div class="clearfix"></div>
                </div>


              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <!-- <div id="submitDiv" style="text-align:center">
        <button (click)="onSubmit()" [disabled]="personalDetailsForm.invalid || !personalDetailsForm.dirty
        || !preferenceForm.dirty"
          class="btn btn-success">Save</button>   
      </div> -->
      <div id="submitDiv" style="text-align:center">
          <button (click)="onSubmit()" class="btn btn-success">Save</button>   
        </div>
    </div>
  </div>


</form>
</div>


<app-fybaloader *ngIf="dataRequest"></app-fybaloader>