.selectBG{background-color:#cccccc;}

.checkBoxClass{height: 19px; width:19px; vertical-align: sub; margin-right: 4px;}

label{
    font-weight: normal;
}

.lock {
    height: 16px;
}
.marginLeft10{
    margin-left:10px;
}

.marginLeftNone{
    margin-left:0px !important
}
.lockCustom{
    position:absolute;
    right:0px;
    top:10px;
}

.posRelative{
    position:relative;
}

.pre_custom label{
    vertical-align:middle;
    width:calc(100% - 24px);
}

.lockDiv{
    text-align:right;
    padding-right:0px;
}