@import "~font-awesome/css/font-awesome.css";
 .btnMargin {font-weight: bold;margin-top: 5%;display: inline-block;margin-top: 15px;}
:host ::ng-deep .ck-editor__editable_inline {min-height: 200px !important;}
.customMargin{margin-bottom: 2%;}
.btn-responsive {white-space: normal !important;word-wrap: break-word;}
.blastIcon{height:36px}
.textWrap{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.heightAuto{height: auto}
.btnBlast{margin-bottom:20px;text-align:center; width: 100%}
.ql-editor {-webkit-user-select: text !important; -moz-user-select: text !important; -ms-user-select: text !important; user-select: text !important;}
html {height:100%;}
body {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 12px; 
    line-height:1.4em;
    color: #333; 
    height:100%;
}
