<link href="../../../assets/css/material.css" rel="stylesheet" />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="composeHeading"><img class="blastIcon"  [src]="blasticon" alt="mail" /> <strong> Send Blast {{blasttext |titlecase}}</strong></h2>
      <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="form-horizontal">
        <div id="composeEmailDiv">
          <div class="form-group">
              <label class="col-sm-1 control-label">To:</label>
              <div class="col-sm-11">
                <div id="multiselect-sample" class="form-control" class="control-section" >
                  <div class="heightAuto control-styles form-control textWrap">
                      <ejs-multiselect formControlName="recepient"  [dataSource]='SendEmails' [mode]='box' [fields]='fields' [placeholder]='waterMark' (change)='onChange(event)'></ejs-multiselect>
                    </div>
                </div>
              </div>
          </div>
          <div class="clearfix"></div>
          <div class="form-group" *ngIf="blastemailtype">
              <label class="col-sm-1 control-label">From:</label>
              <div class="col-sm-11">
                  <label  class="form-control textWrap">{{blastemailfrom}}</label>
              </div>
          </div>
          <div class="form-group"  *ngIf="blastemailtype">
              <label class="col-sm-1 control-label">Subject:</label>
              <div class="col-sm-11">
                  <input class="form-control" formControlName="subject"  type="text" placeholder="Subject" />
              </div>
          </div>
          <div class="form-group"  *ngIf="blastemailtype">
              <label class="col-sm-1 control-label">Email:</label>
              <div class="col-sm-11 ql-editor" >
                  <ckeditor [editor]="Editor"  formControlName="body" (ready)="onReady($event)" ></ckeditor>
              </div>
          </div>
          <div class="form-group"  *ngIf="!blastemailtype">
              <label class="col-sm-1 control-label">Text:</label>
              <div class="col-sm-11">
                  <textarea *ngIf="!blastemailtype" class="form-control" formControlName="body" maxlength="140"  placeholder="Text"></textarea>
              </div>
          </div>
          <input class="form-control" formControlName="blasttype"  type="hidden"  />
          <div class="center-block btnBlast">
            <button type="submit"  class="btn btn-success btnMargin btn-responsive">SEND {{blasttext}}</button>&nbsp;&nbsp;
            <button type="button" (click)="cancel()" class="btn btn-danger btnMargin btn-responsive">CANCEL</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<app-fybaloader *ngIf="loader"></app-fybaloader>