body {
    font-size: 13px !important ;
    display: block;
}
.modal-body label{
    display: block;
    font-weight: 500;
}
.my-Dropdown {
    height: 27px;
    width: 60px;
}

/* label{
    display: inline-block
} */