.blueBGHead{background-color:#1e31ae; padding:5px; color:#ffffff; font-size:14px; font-weight:bold}
.mainPanel table thead tr th{background-color:#ededed; padding:5px; color:#000000; text-align:left; border:1px solid #cccccc;font-size:11px; border-bottom:1px solid #cccccc;}
.mainPanel table tbody tr td{ padding:5px; color:#000000; text-align:left; border:1px solid #cccccc;font-size:11px;}
.mainPanel table tbody tr.Game_Past td{color:#828282;}